In [1]:
import pandas as pd
from sqlalchemy import create_engine
import time

In [2]:

keysku_start_time = time.time()
keysku_path = "Resources/KEY_SKU.csv"
marketing_start_time = time.time()
marketing_path = "Resources/Marketing_Spend.csv"
online_start_time = time.time()
online_path = "Resources/Online.csv"
retail_start_time = time.time()
retail_path = "Resources/Retail.csv"

In [3]:
keysku_df = pd.read_csv(keysku_path)
marketing_df = pd.read_csv(marketing_path)
online_df = pd.read_csv(online_path)
retail_df = pd.read_csv(retail_path)

In [4]:
keysku_errors=0
marketing_errors=0
online_errors=0
retail_errors=0

In [5]:
#keysku
keysku_df.head()

      Product SKU  StockCode
0  GGOENEBQ079099      21421
1  GGOENEBQ079199      21422
2  GGOENEBQ084699      22178
3  GGOEGAEB091117      20749
4  GGOENEBB078899      21056

In [6]:
try:   
    keysku_df = keysku_df.rename(columns={'Product SKU':'product_sku', 'StockCode':'stock_code'})
    
except:
    keysku_errors+=1
    
keysku_df.head()

      product_sku  stock_code
0  GGOENEBQ079099       21421
1  GGOENEBQ079199       21422
2  GGOENEBQ084699       22178
3  GGOEGAEB091117       20749
4  GGOENEBB078899       21056

In [7]:
keysku_count=keysku_df.shape[0]
keysku_df["stock_code"].value_counts().sum()
keysku_df["product_sku"].value_counts().sum()

1178

In [8]:
#marketing
marketing_df.head()

   Unnamed: 0  Offline Spend  Online Spend
0  2017-01-01           4500       2424.50
1  2017-01-02           4500       3480.36
2  2017-01-03           4500       1576.38
3  2017-01-04           4500       2928.55
4  2017-01-05           4500       4055.30

In [9]:
try:
    marketing_df = marketing_df.rename(columns={'Unnamed: 0':'date', 'Offline Spend':'offline_spend', 'Online Spend':'online_spend'})

except:
    marketing_errors+=1

marketing_count=marketing_df.shape[0]
marketing_df.head()

         date  offline_spend  online_spend
0  2017-01-01           4500       2424.50
1  2017-01-02           4500       3480.36
2  2017-01-03           4500       1576.38
3  2017-01-04           4500       2928.55
4  2017-01-05           4500       4055.30

In [10]:
#online
online_df.head()

,Transaction ID,Date,Product SKU,Product,Product Category (Enhanced E-commerce),Quantity,Avg. Price,Revenue,Tax,Delivery
0,48497,20171231,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,20171231,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,20171231,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,20171231,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,20171231,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [11]:
try:
    online_df = online_df.rename(columns={'Transaction ID':'transaction_id',
                                          'Date':'date',
                                          'Product SKU':'product_sku',
                                          'Product':'product',
                                          'Product Category (Enhanced E-commerce)':'product_category',
                                          'Quantity':'quantity',
                                          'Avg. Price':'avg_price',
                                          'Revenue':'revenue',
                                          'Tax':'tax',
                                          'Delivery':'delivery_cost'
                                         })
except:
    online_errors+=1
    
online_df.head()

,transaction_id,date,product_sku,product,product_category,quantity,avg_price,revenue,tax,delivery_cost
0,48497,20171231,GGOENEBQ079099,Nest® Protect Smoke + CO White Battery Alarm-USA,Nest-USA,4.0,80.52,316.00,34.44,19.99
1,48496,20171231,GGOENEBQ079199,Nest® Protect Smoke + CO White Wired Alarm-USA,Nest-USA,5.0,80.52,395.00,33.14,6.50
2,48495,20171231,GGOENEBQ084699,Nest® Learning Thermostat 3rd Gen-USA - White,Nest-USA,1.0,151.88,149.00,12.06,6.50
3,48494,20171231,GGOEGAEB091117,Google Zip Hoodie Black,Apparel,1.0,48.92,47.99,3.82,6.50
4,48493,20171231,GGOENEBB078899,Nest® Cam Indoor Security Camera - USA,Nest-USA,1.0,121.30,119.00,8.31,6.50

In [12]:
online_df["quantity"].isna().sum()

5

In [13]:
try:
    online_df["date"] = pd.to_datetime(online_df["date"],format="%Y%m%d")

    online_df["quantity"].isna().sum()
    online_df["quantity"]= online_df["quantity"].fillna(0)
    online_df["quantity"]=online_df["quantity"].astype("int")
    online_df["quantity"].dtypes

    # online_df.dropna(inplace=True)

    online_df["product_category"]= online_df["product_category"].fillna("NONE")
except:
    onine_errors+=1

online_count=online_df.shape[0]
online_df.isna().sum()

transaction_id      0
date                0
product_sku         0
product             0
product_category    0
quantity            0
avg_price           0
revenue             0
tax                 0
delivery_cost       0
dtype: int64

In [14]:
#retail
retail_count=retail_df.shape[0]
retail_df.head()

   InvoiceNo InvoiceDate  StockCode  Quantity
0     536598  2017-01-01      21421         1
1     536598  2017-01-01      21422         2
2     536598  2017-01-01      22178        26
3     536599  2017-01-01      20749         2
4     536599  2017-01-01      21056         2

In [15]:
try:
    
    retail_df = retail_df.rename(columns={'InvoiceNo':'invoice_no', 'InvoiceDate':'invoice_date', 'StockCode':'stock_code', 'Quantity':'quantity'})

    
    
except:
    retail_errors +=1
    
retail_df.head()

   invoice_no invoice_date  stock_code  quantity
0      536598   2017-01-01       21421         1
1      536598   2017-01-01       21422         2
2      536598   2017-01-01       22178        26
3      536599   2017-01-01       20749         2
4      536599   2017-01-01       21056         2

In [16]:
retail_df["stock_code"].value_counts()

20725    1549
22197    1357
21212    1325
20727    1281
21931    1162
         ...
21895       1
21594       1
20703       1
21268       1
21160       1
Name: stock_code, Length: 1178, dtype: int64

In [30]:
keysku_df.to_csv('Resources/new-keysku.csv',index=False) 
marketing_df.to_csv('Resources/new-marketing-spend.csv',index=False) 
online_df.to_csv('Resources/new-online.csv',index=False) 
retail_df.to_csv('Resources/new-retail.csv',index=False)

In [19]:
connection_string = "postgres:password@localhost:5432/google_store_db"
engine = create_engine(f'postgresql://{connection_string}')

In [20]:
engine.table_names()

['marketing_spend', 'online', 'key_sku', 'retail']

In [21]:
keysku_df.to_sql(name='key_sku', con=engine, if_exists='append', index=False)
keysku_end_time=time.time() - keysku_start_time

In [22]:
marketing_df.to_sql(name='marketing_spend', con=engine, if_exists='append', index=False)
marketing_end_time=time.time() - marketing_start_time

In [23]:
online_df.to_sql(name='online', con=engine, if_exists='append', index=False)
online_end_time=time.time() - online_start_time

In [24]:
retail_df.to_sql(name='retail', con=engine, if_exists='append', index=False)
retail_end_time=time.time() - retail_start_time

In [25]:
print(round(keysku_end_time,2))
print(round(marketing_end_time,2))
print(round(online_end_time,2))
print(round(retail_end_time,2))

4.02
4.14
16.18
45.5

In [26]:
print(keysku_count)
print(marketing_count)
print(online_count)
print(retail_count)

1178
365
54144
181247

In [27]:
etl_report=pd.DataFrame({'domain' : ['key_sku', 'marketing_spend','online','retail'],
                       'row_counts' : [keysku_count, marketing_count, online_count, retail_count],
                        'processing_time':[str(round(keysku_end_time,2)) + ' seconds', str(round(marketing_end_time,2)) + ' seconds', str(round(online_end_time,2)) + ' seconds', str(round(retail_end_time,2)) + ' seconds'],
                         'error_count':[keysku_errors, marketing_errors, online_errors, retail_errors]})

In [28]:
etl_report.to_html('Resources/etl_report.html',index=False)

In [29]:
etl_report.head()

            domain  row_counts processing_time  error_count
0          key_sku        1178    4.02 seconds            0
1  marketing_spend         365    4.14 seconds            0
2           online       54144   16.18 seconds            0
3           retail      181247    45.5 seconds            0